<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {{ block "title" . }}
        @ttpcodes
      {{ end }}
    </title>

    <link href='{{ "img/icon.png" | relURL }}' rel="icon">
    <link href='{{ "dist/css/app.css" | relURL }}' rel="stylesheet">
  </head>
  <body>
    <div id="content">
      <div id="profile">
        <img id="icon" src='{{ "img/icon.png" | relURL }}'>
        <h1 id="username">@ttpcodes</h1>
        <p>20 year old software engineer & mit undergrad</p>
        {{ partial "icons.html" . }}
        <h2><a href='{{ "/" | relURL }}'>home</a></h2>
        <h2><a href='{{ "projects" | relURL }}'>projects</a></h2>
        <h2><a href='{{ "devnotes" | relURL }}'>devnotes</a></h2>
      </div>
      <div id="divider"></div>
      <div id="page">
        <h1>{{ .Title }}</h1>
        {{ block "content" . }}
        {{ end }}
      </div>
    </div>
  </body>
</html>
