{{ define "title" }}
  devnotes - @ttpcodes
{{ end }}
{{ define "content" }}
  {{ .Content }}
  <div id="posts">
    {{ range .Pages }}
      <div>
        <h3>{{ .Title }}</h3>
        <p>{{ .Summary }}</p>
        <p><a href="{{ .RelPermalink }}">read more</a></p>
        <p><i>{{ .Date.Local.Format "02 Jan 2006" | lower }}</i></p>
      </div>
    {{ end }}
  </div>
{{ end }}
