{{ define "title" }}
  devnotes: {{ .Title }} - @ttpcodes
{{ end }}
{{ define "content" }}
  {{ .Content }}
  {{ if .Pages }}
    <div>
      {{ range .Pages }}
        <div>
          <h3>{{ .Title }}</h3>
          <p>{{ .Summary }}</p>
          <p><a href="{{ .RelPermalink }}">read more</a></p>
          <p><i>{{ .Date.Local.Format "02 Jan 2006" | lower }}</i></p>
        </div>
      {{ end }}
    </div>
  {{ else }}
    <br>
    <p id="empty"><i>nothing to see here for now</i></p>
  {{ end }}
{{ end }}
